.qor-product__table {
    table {
        width: 100%;
        white-space: inherit;
        tr {
            &:not(.qor-variant__edit) {
                td img {
                    max-width: 48px;
                    max-height: 48px;
                    border: 1px solid rgba(0, 0, 0, .24);
                }
            }
            &.qor-variant__edit:hover {
                background-color: #fff;
            }
        }
        th,
        td {
            padding: 8px;
        }
        th {
            background-color: #f5f5f5;
        }
        td ul a {
            height: 48px;
            line-height: 48px;
            color: rgba(0, 0, 0, .87);
            text-decoration: none;
        }
        td.normal {
            padding: 0 !important;
            text-align: left;
            .qor-fieldset {
                margin: 8px;
            }
        }
    }
}